<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Eric Durante</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#/home">Home</a></li>
            <li><a href="#/about">About</a></li>
            <li><a href="#/contact">Contact</a></li>
          </ul>

          </div>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron content-->
    <div class="jumbotron">
      <div class="container">
        <h1>Digital Art by Eric Durante</h1>
        <!-- <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p> -->
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Feature Films</h2>
          <p>Feature film work at Blur Studio and Industrial Light &amp; Magic</p>
          <p><a class="btn btn-default" href="#/film" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Game Cinematics</h2>
          <p>Lighting, compositing and character work for game cinametics at Blur Studio</p>
          <p><a class="btn btn-default" href="#/game" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Personal Artwork</h2>
          <p>Digital/traditional artwork created to enhance my skills and get inspired by new ideas.</p>
          <p><a class="btn btn-default" href="#/personal" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 Eric Durante.com.</p>
      </footer>
    </div> <!-- /container -->